@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none !important;
}

.top-bar 
{
    background-color: black;
    padding: 4% 0;
}

.top-bar a 
{
    
}

.top-bar a img
{
    width: 70%;
}

.top-bar .nav
{
    /* float: right; */
    padding-top: 3%;
}

.top-bar .nav ul
{
    display: flex;
    list-style: none;
}

.top-bar .nav li a
{
    padding: 10px 23px 10px 23px;
    font-size: 16px;
    color: white;
}

.top-bar .nav li a:hover
{
    background-color: rgb(49, 48, 48);
    color: rgb(216, 100, 139);
    /* opacity: 0.5s;
    transition: 0.5s; */
}